.button {
  border-radius: 16px;
  background-color: #e5a0df;
  color: #482e45;
  margin: 8px;
  width: 32px;
  padding: 4px;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
  font-weight: 500;
}